/Ejercicios/Encuentros_3_4_5/nbproject/private/
/Ejercicios/Encuentros_3_4_5/build/
/Ejercicios/Encuentros_7_8/nbproject/private/
/Ejercicios/Encuentros_7_8/build/
/Ejercicios/Encuentros_9_10_11/nbproject/private/
/Ejercicios/Encuentros_9_10_11/build/
/Ejercicios/Guia_7_Encuentros_13al18/nbproject/private/
/Ejercicios/Guia_7_Encuentros_13al18/build/
/Ejercicios/Guia_7_POO_Ejercicio_1/nbproject/private/
/Ejercicios/Guia_7_POO_Ejercicio_1/build/
/Ejercicios/Guia_7_POO_Cocina/nbproject/private/
/Ejercicios/Guia_7_POO_Cocina/build/
/Ejercicios/Guia_8/nbproject/private/
/Ejercicios/Guia_8/build/
/Ejercicios/Cifrar/nbproject/private/
/Ejercicios/Cifrar/build/